### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# MacOS
.DS_Store


# DataFolder
data/PolygonImages
data/PolygonImagesV2
data/PolygonImagesV3
data/PolygonImagesV4
data/PolygonImagesV5
data/PolygonImagesV6
data/PolygonImagesV7
data/PolygonImagesV3.pkl
data/PolygonImagesV5.pkl
data/PolygonImagesV6.pkl
data/PolygonImagesV7.pkl
data/EMT_weights_flat_0mean.npy
data/EMT_weights_flat.npy
logs/
logs_old/
Matlab_Version/